body{
    background-color:#FFF4E9;  
    font-size: 12px;
}

a:hover {
    background:position: 0 -32px;
}
h1{
    font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L", sans-serif;
    color:#89909F;
    font-size: 4em;
    text-align: center;
    padding: 0.5em;   
}
h1.coolbg {
    background: #FAE8EB;
   padding: 1em 0 0 0px;
   margin:0px;
    height:2.5em;
}
h2{
    font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L", sans-serif;
    color:#89909F;
    padding: 3px;
    font-size: 3em;
    text-align: center;
}

p{
    font-family: "Avantgarde, TeX Gyre Adventor, URW Gothic L", sans-serif;
    color:#020202;
    padding: 0.17em;
    font-size: 1.5em;
    width: 50em;
    margin: auto;
}


ul {   
list-style-type: none;
    
             
                    position: -webkit-sticky; /* Safari */
                    position: sticky;
                    top: 0;
        
        margin: 0;
        width: 105.1em;
        padding: 0;
        overflow: hidden;
        background-color: #202C39;
        text-align: center; 
}
    
li { 
    float:left;
      width: 14em;
      margin-left: 3em;
      font-size: 1.2em;
      margin-right: 4.8em;
  }
  
  li a {
      display: block;
      color:#F5DDDD;
      text-align: center;
      padding: 2.5em 0.5em;
      text-decoration: none;
      
  }
  
  li a:hover {
      background-color: #89909F;
  }


.footer {
  
    padding: 1rem;
    background-color: #C2B2B4;
    text-align: center;
    font-size:1.5em;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;  
}
